body{
  font-family: 'Roboto',sans-serif;
}
img {
  float: left;
  width: 95px;
}
.maincontainer{
  font-size:60px ;
  font-weight: bolder;
}
  
input.infofield{
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(197, 193, 193);
  box-sizing: border-box;
  padding:30px
}
  
  
button {
  background-color: turquoise;
  font-size: 20px;
  color: white;
  border:none;
  padding: 14px 25px;
  margin: 8px 0;
  width: 100%;
}
  
button:hover {
  opacity: 0.5;
}

.checkbox{
  margin: 8px 0;
  padding: 14px 20px;
}
  
.cancelbtn {
  width: auto;
  background-color: #f44336;
}

